<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  {% block body %}
  {% if session['logged_in'] %}
  <p>You're logged in already!</p>
  {% else %}
  <h1>Party Pals</h1>
  <div>
    <form method="POST" action="/login">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
    <a href="/signup" class="button">Sign Up</a>
  </div>
  {% endif %}
  {% endblock %}
</body>

</html>