<!DOCTYPE html>
<html lang="en">
<head>
  <title>Party Pals</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='websocket.js') }}"></script>
</head>
<body>
  <h1>Party Pals</h1>
  <h3>{{ room }}</h3>
  <textarea id="chat" cols="80" rows="20"></textarea><br>
  <input id="text" placeholder="Write a comment..."/><br>
  <a href="/" onclick="leave_room();">Leave Party</a>
</body>
</html>