<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <title>Party Pals</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/websocket.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Party Pals</h1>
      <h3>{{ room }}</h3>
    </div>
    <div class="container chat-box">
      <textarea id="chat" class="container-fluid" rows="15"></textarea>
      <input class="form-control" id="text" placeholder="Write a comment..."/>
      <button class="btn btn-lg btn-secondary btn-block" onclick="leave_room(); location.href='/';" type="submit">Leave Party</button>
    </div>
  </div>
</body>
</html>