body {
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.signin-block {
    max-width: 400px;
    margin: 0 auto;
}

.chat-box {
    max-width: 500px;
}

#like-btn {
    margin: 0 auto;
    max-width: 400px;
}